<nav class="navbar">
  <div class="nav-container">
    <nav-item [link]="'#top'" [name]="'Home'"></nav-item>
    <nav-item [link]="'#exp'" [name]="'Experience'"></nav-item>
    <nav-item class="non-resp" [disableClick]="true" [imgUrl]="'/assets/logo.png'"></nav-item>
    <nav-item [link]="'#portfolio'" [name]="'Portfolio'"></nav-item>
    <nav-item [link]="'#skills'" [name]="'Skills'"></nav-item>
  </div>
</nav>

<div class="container">
  <main class="main" id="top">
    <div class="hero">
      <div class="hero-content">
        <h1>Hi, I'm Sajad Wazin</h1><br>
        <h2>Software Developer</h2><br>
        <p>I started coding at the age of 12, watching YouTube tutorials for the fun of it. After years of practice
          and learning, I have graduated from <span class="mcgill">McGill University</span> in Honours Computer Science.
        </p>
      </div>
    </div>
    <h1 id="exp">Work Experience</h1>
    <div class="wrapper">
      <div class="overlay"></div>
      <div class="experience" id="experience" (wheel)="onWheel($event)"
           (dragstart)="setDragX($event)" (drag)="onDrag($event)">
        <work
              [name]="'Apple'"
              [ref]="'https://www.apple.com/ca/'"
              [duration]="'Aug 2021 - Present'"
              [role]="'Operations Specialist'"
              [stack]="['Teamwork', 'Leadership', 'Communication', 'SAP ERP', 'Tableau']">
          My work at Apple consisted of inventory control.
        </work>
        <work [name]="'GemPixel'"
              [ref]="'https://gempixel.com/'"
              [duration]="'August 2022 - January 2023'"
              [role]="'Fullstack Developer'"
              [stack]="['Java', 'HTML', 'CSS', 'PHP', 'PyTorch', 'JQuery', 'REST APIs', 'Payment', 'MySQL', 'SaaS']">
          Wrote and designed software to handle payments from different payment gateways in PHP using HTML/CSS and
          JQuery as a frontend. Implemented payment systems using REST APIs from PayPal, Stripe, Clover, WayForPay,
          Mercado Pago. Developed and deployed custom plugins in a SaaS business model. Worked on a Machine Learning
          model with PyTorch to detect spam links.
        </work>
        <work
              [name]="'McGill University'"
              [ref]="'https://www.mcgill.ca/'"
              [duration]="'April 2022 - August 2022'"
              [role]="'Research Developer'"
              [stack]="['Java', 'JavaFX', 'Selenium', 'Python', 'AI', 'Research', 'NLP']">
          Independent Research as part of a University Research Lab. Studying Artificial Intelligence Algorithms and
          their effects on society.
        </work>
        <work [name]="'Zara'" [duration]="'July 2018 - September 2021'"
              [ref]="'https://www.zara.com/ca/'"
              [role]="'Team Leader'"
              [stack]="['Teamwork', 'Leadership', 'Communication']">
          My work at Apple consisted of inventory control.
        </work>
        <work [name]="'Fitness Sur Mesure'"
              [ref]="'https://fitplusgym.com/abonnez-vous/fit-plus-saint-hubert/'"
              [duration]="'Aug 2021 - Present'" [role]="'Operations Specialist'"
              [stack]="['Teamwork', 'Leadership', 'Communication']">
          My work at Apple consisted of inventory control.
        </work>
      </div>
    </div>
    <a href="/assets/resume.pdf" target="_blank">
      <h2 class="resume">&#x2192; View Complete Résumé</h2>
    </a>

  </main>
  <div class="drop" id="portfolio">
    <div class="over">
      <div class="portfolio-title">
        <h1>Portfolio</h1>
      </div>
    </div>
  </div>
  <div class="portfolio-container">
    <div class="portfolio">
      <portfolio-item
        [name]="'FacebookWebScraper'"
        [githubLink]="'https://github.com/swzn/FacebookWebScraper'"
        [docsLink]="'/assets/fws.pdf'"
        [skills]="{
          'Java':90,
          'Selenium': 60,
          'JavaFX':60,
          'Python': 40,
          'JavaScript': 40
        }">

        <p>As an undergraduate Research Developer within the
        <a href="https://www.cs.mcgill.ca/~jvybihal/index.php?Page=Research" target="_blank">
        Prometheus Research</a> lab at McGill University, I was tasked with writing software that would be able to
        gather quantitative data on Facebook pages and groups to conduct research with the result. These are my
        achievements during the project:</p>

        <ul>
          <li>Developed GUI-based software using JavaFX</li>
          <li>Implemented 4 tree based search algorithms using Java and Selenium</li>
          <li>Implemented data encoding system and data parser in Java and Python</li>
          <li>Developed a logging system to track the software's proceedings</li>
          <li>Applied SOLID principles for the Java codebase</li>
          <li>Wrote a scientific report based on the data gathered during the development and testing</li>
          <li>Used Java's Thread API to implement multiple asynchronous workers</li>
          <li>Each worker can gather 400+ datapoints per hour</li>
        </ul>

      </portfolio-item>


      <portfolio-item
        [name]="'Personal Website'"
        [skills]="{
        'Angular 16':90,
        'TypeScript':70,
        'RxJS': 70,
        'CSS': 70,
        'Figma': 40,
        'Node.js': 40
      }">
        <p>
        Using Angular 16.0.5, HTML5, CSS3, TypeScript 5.0.4 and RxJS 7.8.1, I wrote a personal website from scratch. This
        personal website implements multiple re-usable Angular Modules. In particular, each navbar item, work experience
        card and portfolio card is a customizable Angular component. These components can take manual inputs from the user
        in standard Angular attribute form, or they can be automatically filled in using a static or dynamic database.
        </p>
        <ul>
          <li>Designed a Personal website in Figma</li>
          <li>Implemented the design using Angular Components</li>
          <li>Applied SOLID principles to create a highly customizable website</li>
          <li>Optimized TypeScript code using Angular Lifecycle Hooks</li>
          <li>Deployed lightweight website package using Angular CLI</li>
        </ul>
      </portfolio-item>

      <portfolio-item
          [name]="'Linux Cluster Monitoring Agent'"
          [skills]="{
          'Bash': 90,
          'Docker': 70,
          'PostgreSQL': 50,
          'GCP (Google)': 50,
          'CentOS': 40
          }">

      </portfolio-item>
    </div>
  </div>
</div>
